{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>First Name:</strong> {{ author.first_name }}</p>
  <p><strong>Last Name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
    <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
  <p><strong>Books:</strong> {{ author.book_set.all|join:", " }}</p>


  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
      <hr>
      <p class="text-muted"><strong>{{ book.title }}</strong></p>
        <p>{{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}
